.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  .img-small{    
    max-width:100px; 
  }
  .searchresult-item-link{
    text-decoration: none;
    color: inherit;
  }
  .searchresult-item em {
  font-weight: bold;
}
.searchresult-item:hover{
  cursor: pointer;
  background-color: DodgerBlue !important;
}
.pagination {
  cursor: pointer;
}
.post-item-link {
  text-decoration: none;
    color: inherit;
}